/* 在此文件中，使用palette.css文件中的变量，你可以在此文件，直接覆盖主题的所有css样式，比如下面这些 */

/*隐藏滚动条*/
body::-webkit-scrollbar {
     display: none;
}

/* 标题动画移除 */
.home-page-gradual-title-item-left {
     transform: translateX(0%);
}
.home-page-gradual-title-item-right {
     transform: translateX(0%);
}

/* 首页文章内容滚动移除 */
.home-page-tag-content {
     overflow-y: hidden;
}

.home-page-gradual-title {
     font-size: 32px;
     font-weight: 900px;
     white-space: normal;

}



home-page-gradual-title-par :hover{
     filter: blur(6.3px);
}